@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}


@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');


.sriracha-regular {
    font-family: "Sriracha", serif;
    font-weight: 400;
    font-style: normal;
  }

  .passion-one-regular {
    font-family: "Passion One", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
html , body {
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}


header {
    background-color: black;
    height: 150px;
    min-width: 400px ;
    background-position: center top;
    border: rgb(0, 255, 21) 50px ;
}

h1 {
    color: #fff;
    text-align: center;
    padding-top: 50px;
    font-family: "Passion One", serif;
    font-weight: 900;
    font-style: normal;
    font-variant: small-caps;
}


 header > p {
    color: #fff;
    text-align: center;
    padding: 10px;
    
} 

a {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
}

p > a:hover {
       text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section > p {
    margin-top: 3em;
}

section.imagem > p {
    background-color: rgba(26, 25, 25, 0.315);
    width: 300px;
    
}


.imagem {
    background-color: rgba(0, 0, 0, 0.438);
    color: #fff;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.281);
    background-attachment: fixed;
}

section#img01 {
    background-image: url(pacote-d012/imagens/florzinha.jpg);
    background-position: right center;
    
}

section#img02 {
    background-image:url(pacote-d012/imagens/papeus.jpg);
    text-shadow: 2px 2px 0px rgb(0, 0, 0);
    background-position: right center;
}


.normal {
    background-color: #fff;
    color: rgb(95, 79, 79);
}





footer {
    background-color: black;
    color: #fff;
    margin-top: 30px;
    padding: 5px;
    text-align: center;
}
